body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url('../images/cork-wallet.png');
}

header {
	background-color: #ffffff;
	border-bottom: 3px solid #cccccc;
}

footer {
	background-color: #666666;
	border-top: 10px solid #4aaaa5;
	text-align: center;
	color: #cccccc;
	height: 75px;
	clear: both;
}

h2 {
	color: #4aaaa5;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.headName {
	float: left;
	position: relative;
	left: 70px;
	width: 250px;
	height: 70px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #4aaaa5;
	color: #ffffff;
}

.headName h1 {
	margin: auto;
}

.nav ul {
	list-style-type: none;
}

.nav li {
	float: right;
}

.nav a {
	display: block;
	padding: 14px 16px;
}

.content {
	float: left;
	position: relative;
	margin: 30em;
	left: 20%;
	width: 630px;
	padding: 10px;
	background-color: #ffffff;
}

.content img {
	height: 200px;
	width: 200px;
	margin: 10px;
	float: left;
	display: block;
}

.contact {
	position: relative;
	right: 10%;
	float: right;
	width: 270px;
	margin: 70px;
	background-color: #ffffff;
}

.contact li {
	list-style-type: none;
	float: right;
	display: inline;
}

.contact img {
	margin: auto;
	height: 60px;
	width: auto;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

